.modal {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    height: 300px;
    width: 500px;
    background: red;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}