.buttons-b{
    padding: 10px 20px;
    background: #FFFFFF;
    color: #6A6DCD;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.32);
    border-radius: 40px;
    font-size: large;
    margin: 10px;
    transition: .1s linear;
    border: 1px #FFFFFF solid;
}

.buttons-b:hover, .buttons-b:focus{
    background: #6A6DCD;
    color: #FFFFFF;
}