.chat-container-send {
    border: none;
    background-color: #6A6DCD;
    border-radius: 40px;
    padding: 10px 20px;
    margin: 10px 0;
    color: #FFFFFF;
    width: 60%
}

.chat-container-send::after {
    content: "";
    clear: both;
    display: table;
}

.chat-container-send img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.chat-container-send img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}
