.chat-container-receive {
    border: #6A6DCD 1px solid;
    background-color: #FFFFFF;
    border-radius: 40px;
    padding: 10px 20px;
    margin: 10px 0;
    color: #6A6DCD;
    width: 60%;
}

.chat-container-receive::after {
    content: "";
    clear: both;
    display: table;
}

.chat-container-receive img {
    float: right;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.chat-container-receive img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-left {
    float: left;
    color: #999;
}
